.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40vw;

  padding: 20px;
  border: 1px solid #3f3e3e;
  border-radius: 10px;
}

.head {
  margin-bottom: 20px;
}

.inputs {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  /* border-color: blue;
  border-radius: 2px; */

  
}

.inputs input {
  margin-bottom: 20px;
  border-color: rgb(9, 9, 53);
  border-radius: 4px;
}

.btns {
  margin-top: 20px;
  
}

