.wrapper {
  position: fixed;
  top: 0px;
  width: 99%;
  height: 70px;
  backdrop-filter: blur(10px);
  
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

.left, .right {
  width: 160px;

  display: flex;
  justify-content: space-between;
}